body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

#toolbar-container {
  background: #2C323C;
  border-bottom: 10px solid #21252B;
  border-top: 10px solid #21252B;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding-right: 20px;
}

#canvas-container {
  background: #000;
  flex-grow: 1;
  cursor: crosshair;
}

.banner {
  padding-left: 20px;
  padding-right: 20px;
  border-left: 10px solid #eaeaea;
  color: #eaeaea;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  justify-content: center;
  text-align: center;
}

.middle-buttons, .right-buttons {
  border: 2px solid #446;
  border-radius: 10px;
  padding: 10px;
}

.right-buttons {

}
