body {
  font-family: 'Raleway', sans-serif;
  padding-left: 5vw;
  padding-right: 5vw;
  transition: background 2s;
}

@keyframes flip {
    from {transform: rotate(-30deg);}
    to {transform: rotate(30deg);}
}

header {
  display: flex;
}

header figure {
  animation-name: flip;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

.name-and-address {
  display: flex;
  flex-direction: column;
}

nav {
  background: #eaeaea;
  border-radius: 5px;
  position: sticky;
  top: 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav li {
  padding: 0.7vw 2vw;
  font-size: 1.1em;
  font-weight: bold;
}

nav li a {
  text-decoration: none;
  color: midnightblue;
}

nav li a:hover {
  text-decoration: underline;
  color: mediumblue;
}

section {
  margin-top: 3em;
}

section h2 {
  color: darkslategray;
}

section #skills {
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery img {
  height: 100px;
  transition: height 1s;
}

.gallery figure:nth-child(even) img {
  border: 3px dotted darkorange;
}

.gallery figure:nth-child(odd) img {
  border: 3px dashed darkblue;
}

table th {
  background-color: #ccc;
  padding: 5px;
  text-align: center;
  width: 100px;
}

table td {
  padding: 5px;
  text-align: center;
}

table td.matrix {
  background-color: #eee;
}

table td.good {
  background-color: green;
}

table td.average {
  background-color: orange;
}

table td.weak {
  background-color: red;
}

@media screen and (max-width: 600px) {
  body {
    background: red;
  }

  .gallery img {
    width: 100%;
    height: auto;
  }
}
